/* Description: Master CSS file */

/* ****************************************
Table Of Contents:
- General Styles
- Navigation
- Header
- Testimonials
- Features
- Video
- Video Modal
- Details 1
- Details Modal
- Details 2
- Statistics
- Screenshots
- Download
- Footer
- Copyright
- Back To Top Button
- Extra Pages
- Media Queries
****************************************** */

/* ************************ */
/*          Colors          */
/* ************************ */

:root {
  --text-color: #fff;
  --main-bg-color: #2b2c35;
  --main-bg-color-light: #363742;
  --main-blue-color: #01ffff;
  --main-pink-color: #ff00fe;
}

/* ************************ */
/*      General Styles      */
/* ************************ */

html {
  /* Offset scroll anchor for fixed navbar */
  scroll-padding-top: 56px;
}
body {
  background-color: var(--main-bg-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}
main {
  flex: 1 1 auto;
}

a {
  color: var(--main-blue-color);
  text-decoration: none;
}

a:hover {
  color: var(--main-blue-color);
}

/* ******************** */
/*      Navigation      */
/* ******************** */

/* Scrollspy */
.nav-link.active {
  background-color: var(--main-bg-color-light);
  border-radius: 5px;
}
/* Main Nav */
.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--main-bg-color);
  transition: box-shadow 0.2s ease-in-out;
}

/* Main Nav Scroll Active */
.navbar-scrolled {
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px,
    rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
}

.navbar-scrolled-down {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  box-shadow: none;
}

.navbar-scrolled-up {
  transform: none;
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 992px) {
  #navlist {
    margin-left: auto;
  }
}

/* offcanvas mobile menu */
@media (max-width: 991px) {
  .offcanvas {
    width: 250px !important;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    &__li {
      border-bottom: 1px solid rgba(177, 177, 177, 0.18);
      &:first-child {
        border-top: 1px solid rgba(177, 177, 177, 0.18);
      }
      &:hover {
        background-color: var(--main-bg-color-light);
      }
    }
    &__link {
      padding: 1rem 2rem 1rem 2rem;
    }
  }

  /* need to hide the offcanvas-backdrop for clean scroll down to id transition */
  .navbar-scrolled-down .offcanvas-backdrop {
    opacity: 0;
  }
}

/* **************************** */
/*      Back To Top Button      */
/* **************************** */
.back-to-top-button {
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px,
    rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: var(--main-bg-color-light);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    background-color: var(--main-bg-color-light);
  }
  &__show {
    opacity: 1;
  }
  &__icon {
    color: var(--text-color);
  }
}

/* ******************** */
/*        Swiper        */
/* ******************** */
.swiper {
  width: 100%;
  height: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--main-bg-color);
  color: white;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* ******************** */
/*        Footer        */
/* ******************** */
