/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Header
- Testimonials
- Features
- Video
- Video Modal
- Details 1
- Details Modal
- Details 2
- Statistics
- Screenshots
- Download
- Footer
- Copyright
- Back To Top Button
- Extra Pages
- Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds - light dark blue #2f2c3d
- Background, navbar - dark blue #262431
- Buttons, icons - cyan #00c9db
- Body text, heading text - white #f1f1f8
******************************************/

/**************************/
/*     General Styles     */
/**************************/

:root {
  --text-color: #fff;
  --main-bg-color: #2b2c35;
  --main-bg-color-light: #363742;
  --main-blue-color: #01ffff;
  --main-pink-color: #ff00fe;
}

body {
  background-color: var(--main-bg-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}
main {
  flex: 1 1 auto;
}

a {
  color: var(--main-blue-color);
  text-decoration: none;
}

a:hover {
  color: var(--main-blue-color);
}

/**********************/
/*     Navigation     */
/**********************/

/* offcanvas mobile menu */
.offcanvas {
  background-color: var(--main-bg-color);
  color: var(--text-color);
}
.offcanvas.show a {
  color: var(--text-color);
}
.offcanvas.offcanvas-start {
  width: 250px;
}
.offcanvas li {
  border-bottom: 1px solid rgba(177, 177, 177, 0.18);
}
.offcanvas li:first-child {
  border-top: 1px solid rgba(177, 177, 177, 0.18);
}
.offcanvas li:hover {
  background-color: var(--main-bg-color-light);
}
.offcanvas a {
  padding: 1rem 2rem 1rem 2rem;
}

/******************************/
/*     Back To Top Button     */
/******************************/
#backToTopButton {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: var(--main-bg-color);
  border: var(--text-color) 2px solid;
  cursor: pointer;
}

#backToTopButton:hover {
  background-color: var(--main-bg-color-light);
}

#backToTopButton i {
  color: var(--text-color);
}

/******************************/
/*           Swiper           */
/******************************/
.swiper {
  width: 100%;
  height: 50rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--main-bg-color);
  color: white;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

/**********************/
/*       Footer       */
/**********************/

footer {
  padding: 1rem;
}
