/* Description: Master CSS file */

/* ****************************************
Table Of Contents:
- General Styles
- Navigation
- Header
- Testimonials
- Features
- Video
- Video Modal
- Details 1
- Details Modal
- Details 2
- Statistics
- Screenshots
- Download
- Footer
- Copyright
- Back To Top Button
- Extra Pages
- Media Queries
****************************************** */
/* ************************ */
/*          Mixins          */
/* ************************ */
@use 'sass:math';

//REM
@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}

/* ************************ */
/*          Colors          */
/* ************************ */

:root {
  --text-color: #fff;
  --text-gray: #55565d;
  --main-bg-color: #2b2c35;
  --main-bg-color-light: #363742;
  --main-blue-color: #01ffff;
  --main-pink-color: #ff00fe;
}

/* ************************ */
/*      General Styles      */
/* ************************ */

html {
  /* Offset scroll anchor for fixed navbar */
  scroll-padding-top: 56px;
}
body {
  background-color: var(--main-bg-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}
main {
  flex: 1 1 auto;
}

a {
  color: var(--main-blue-color);
  text-decoration: none;
}

a:hover {
  color: var(--main-blue-color);
}

/* ******************** */
/*      Navigation      */
/* ******************** */

/* Scrollspy */
.nav-link.active {
  background-color: var(--main-bg-color-light);
  border-radius: 5px;
}
/* Main Nav */
.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--main-bg-color);
  transition: box-shadow 0.2s ease-in-out;
}

/* Main Nav Scroll Active */
.navbar-scrolled {
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px,
    rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
}

.navbar-scrolled-down {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  box-shadow: none;
}

.navbar-scrolled-up {
  transform: none;
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 992px) {
  #navlist {
    margin-left: auto;
  }
}

/* offcanvas mobile menu */
@media (max-width: 991px) {
  .offcanvas {
    width: 250px !important;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    &__li {
      border-bottom: 1px solid rgba(177, 177, 177, 0.18);
      &:first-child {
        border-top: 1px solid rgba(177, 177, 177, 0.18);
      }
      &:hover {
        background-color: var(--main-bg-color-light);
      }
    }
    &__link {
      padding: 1rem 2rem 1rem 2rem;
    }
  }

  /* need to hide the offcanvas-backdrop for clean scroll down to id transition */
  .navbar-scrolled-down .offcanvas-backdrop {
    opacity: 0;
  }
}
/* **************************** */
/*             Hero             */
/* **************************** */
// .circular-text {
//   font-size: 12px;
//   position: absolute;
// }

.left-hero {
  height: rem(500);
  position: relative;
  &__title {
  }
  &__text {
    text-align: center;
  }
  &__icon {
    font-size: rem(40);
    text-align: center;
    position: relative;
  }
  &__circular-text {
    left: 50%;
    // margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    font-size: 12px;
    position: absolute;
  }
  &__background-letter {
    text-align: center;
    left: 0;
    right: 0;
    top: rem(220);
    transform: translateY(-50%);
    opacity: 0.2;
    position: absolute;
    z-index: -1;
    font-size: rem(600);
    line-height: 1;
    &:before,
    &:after {
      content: attr(data-glitch);
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
    }
    &:after {
      color: #01ffff;
      z-index: -1;
      left: 10px;
      top: 5px;
    }
    &:before {
      color: #ff00fe;
      z-index: -2;
      left: -10px;
      top: -5px;
    }
  }
}

.right-hero {
  height: rem(500);
  position: relative;
  &__text {
    position: absolute;
    z-index: 1;
    font-size: rem(35);
    bottom: 65px;
    right: 110px;
  }
  &__person {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    margin: auto;
    width: rem(194);
    top: 50%;
    transform: translateY(-50%);
  }
  &__wings {
    position: absolute;
    z-index: -2;
    left: 0;
    right: 0;
    margin: auto;
    top: 35%;
    transform: translateY(-50%);
  }
  &__triangle {
    position: absolute;
    z-index: -3;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* **************************** */
/*      About       */
/* **************************** */
.about {
  display: flex;
  flex-direction: column;
}

/* **************************** */
/*      Back To Top Button      */
/* **************************** */
.back-to-top-button {
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px,
    rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: var(--main-bg-color-light);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    background-color: var(--main-bg-color-light);
  }
  &__show {
    opacity: 1;
  }
  &__icon {
    color: var(--text-color);
  }
}

/* ******************** */
/*        Swiper        */
/* ******************** */
.swiper {
  width: 100%;
  height: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--main-bg-color);
  color: white;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* ******************** */
/*    Custom Cursor     */
/* ******************** */
@media (min-width: 992px) {
  .mouse-cursor {
    z-index: 1200;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    visibility: hidden;
  }
  .cursor-inner {
    margin-left: -3px;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    background-color: var(--main-blue-color);
    -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
      margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
      margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .cursor-outer {
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    border: 2px solid #ffffff;
    opacity: 0.5;
    -webkit-transition: all 0.08s ease-out;
    transition: all 0.08s ease-out;
  }

  .cursor-inner.cursor-hover {
    margin-left: -40px;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    opacity: 0.3;
  }
  .cursor-outer.cursor-hover {
    opacity: 0;
  }

  .cursor-inner.cursor-hover.cursor-click {
    margin-left: -8px;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    background-color: #fff;
  }

  .cursor-outer.cursor-click {
    margin-left: -20px;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
  }
  .cursor-hidden {
    opacity: 0;
  }
}
/* ******************** */
/*        Scrollbar     */
/* ******************** */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-bg-color-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-blue-color);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-blue-color);
}

/* ******************** */
/*        Glitch        */
/* ******************** */

.glitch-1 {
  position: relative;
  &:before,
  &:after {
    content: attr(data-glitch);
    position: absolute;
  }
  &:after {
    color: #01ffff;
    z-index: -1;
    left: 2px;
  }
  &:before {
    color: #ff00fe;
    z-index: -2;
    left: -2px;
  }
}
.glitch-2 {
  position: relative;
  &:before,
  &:after {
    content: attr(data-glitch);
    position: absolute;
  }
  &:after {
    color: #01ffff;
    z-index: -1;
    left: 3px;
  }
  &:before {
    color: #ff00fe;
    z-index: -2;
    left: -3px;
  }
}

.title-glitch {
  position: relative;
  &__title {
    text-align: center;
    margin: auto;
    font-size: rem(40);
  }
  &__text {
    text-align: center;
    z-index: -1;
    margin: auto;
    position: absolute;

    top: 0;
    font-size: rem(50);
    color: var(--text-gray);
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
  }
}
