@media (min-width: 992px) {
  .mouse-cursor {
    z-index: 1200;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    visibility: hidden;
  }
  .cursor-inner {
    margin-left: rem(-3);
    margin-top: rem(-3);
    width: rem(6);
    height: rem(6);
    background-color: $main-color;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
      margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  .cursor-outer {
    margin-left: rem(-15);
    margin-top: rem(-15);
    width: rem(30);
    height: rem(30);
    border: rem(2) solid white;
    opacity: 0.5;
    -webkit-transition: all 0.08s ease-out;
    transition: all 0.08s ease-out;
  }
  .cursor-inner.cursor-hover {
    margin-left: rem(-40);
    margin-top: rem(-40);
    width: rem(80);
    height: rem(80);
    background-color: white;
    opacity: 0.3;
  }
  .cursor-outer.cursor-hover {
    opacity: 0;
  }
  .cursor-inner.cursor-hover.cursor-click {
    margin-left: rem(-20);
    margin-top: rem(-20);
    width: rem(40);
    height: rem(40);
    background-color: white;
  }
  .cursor-outer.cursor-click {
    margin-left: rem(-20);
    margin-top: rem(-20);
    width: rem(40);
    height: rem(40);
    border: rem(2) solid white;
  }
  .cursor-hidden {
    opacity: 0;
  }
}
