.preloader {
  position: fixed;
  height: 110vh;
  width: 100vw;
  top: -56px;
  overflow: hidden;
  background-color: $main-bg-color;
  z-index: 1600;
  display: flex;
  justify-content: center;
  align-items: center;
  //   &__container {
  //     position: relative;
  //     width: 250px;
  //   }
  &__text {
    font-size: rem(40);
    font-weight: bold;
  }
}
.typed-cursor {
  font-size: rem(40);
}
