/* width */
::-webkit-scrollbar {
  width: rem(10);
}

/* Track */
::-webkit-scrollbar-track {
  background: $main-bg-color-light;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $main-color;
  border-radius: rem(2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $main-color;
}

// horizontal scrollbar *used in skills section
::-webkit-scrollbar:horizontal {
  height: rem(2);
}
::-webkit-scrollbar-thumb:horizontal {
  background: $main-color;
  border-radius: 2px;
}
::-webkit-scrollbar-track:horizontal {
  background: $main-bg-color-light;
}
