.service {
  border: $main-color solid rem(5);
  border-radius: rem(10);
  padding: rem(20);
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: rem(10);
  height: 100%;

  &__icon {
    height: rem(100);
  }
  &__title {
    font-size: rem(30);
    font-weight: bold;
  }
  &__link {
    margin-right: auto;
    margin-top: auto;
  }
}
