.skills {
  &__container {
    min-height: rem(275);
  }
  &__description {
    text-align: center;
  }

  &__list {
    width: rem(440);
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 0;
    margin-bottom: rem(5);
    @media (max-width: $lg-991px) {
      width: rem(396);
    }
    @media (max-width: $sm-575px) {
      width: rem(320);
    }
  }
  &__item {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
  }
}

.years-of-experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  &__number {
    font-size: rem(250);
    font-family: 'Invasible';
    line-height: 0.7;
    opacity: 0.6;
    @media (max-width: $lg-991px) {
      font-size: rem(200);
    }
  }
  &__text {
    opacity: 0.6;
    font-size: rem(40);
    @media (max-width: $lg-991px) {
      font-size: rem(30);
    }
  }
}

.skill {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: rem(110);
  width: rem(110);
  border-radius: 50%;
  &.active {
    color: $main-color;
  }

  &__circular-text {
    font-size: rem(11);
  }
  &__icon {
    font-size: rem(40);
    position: absolute;
  }

  @media (max-width: $lg-991px) {
    transform: scale(0.9);
    height: rem(99);
    width: rem(99);
  }

  @media (max-width: $sm-575px) {
    transform: scale(0.8);
    height: rem(80);
    width: rem(80);
  }
}
