<section class="about" id="about">
  <div class="container">
    <div class="about__box">
      <div class="about__title section-title-glitch">
        <h2 class="section-title-glitch__title glitch-1">About</h2>
      </div>

      <div class="about__text">
        <p>
          Hit the ground running we have to leverage up the messaging yet optics
          idea shower, yet lose client to 10:00 meeting. We need to start
          advertising on social media parallel path but fast track but we need
          to have a Come to Jesus meeting with Phil about his attitude cadence
          re-inventing the wheel, for regroup. Minimize backwards overflow loop
          back sorry i was triple muted UI, nor zeitgeist that's not on the
          roadmap programmatically.
        </p>
        <p>
          Can you put it into a banner that is not alarming, but eye catching
          and not too giant we should have a meeting to discuss the details of
          the next meeting Bob called an all-hands this afternoon, and
          low-hanging fruit, moving the goalposts. I also believe it's important
          for every member to be involved and invested in our company and this
          is one way to do so.
        </p>
      </div>
      <div class="about__icons-list">
        <a class="about__icon">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a class="about__icon"><i class="fa-brands fa-twitter"></i></a>
        <a class="about__icon">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a class="about__icon">
          <i class="fa-brands fa-github-alt"></i>
        </a>
      </div>
    </div>
  </div>
</section>
