<section class="about" id="about">
  <div class="container">
    <div class="about__box">
      <div class="about__title section-title-glitch">
        <h2 class="section-title-glitch__title glitch-1">About</h2>
      </div>

      <div class="about__text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
          laboriosam ullam asperiores, quas obcaecati nesciunt dicta odio! Sed
          porro vel eos architecto rem! Nostrum ut, suscipit expedita magni
          dolor ratione. Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Amet laboriosam ullam asperiores, quas obcaecati nesciunt dicta
          odio! Sed porro vel eos architecto rem! Nostrum ut, suscipit expedita
          magni dolor ratione.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
          laboriosam ullam asperiores, quas obcaecati nesciunt dicta odio! Sed
          porro vel eos architecto rem! Nostrum ut, suscipit expedita magni
          dolor ratione. Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Amet laboriosam ullam asperiores, quas obcaecati nesciunt dicta
          odio! Sed porro vel eos architecto rem! Nostrum ut, suscipit expedita
          magni dolor ratione.
        </p>
      </div>
      <div class="about__icons-list">
        <a class="about__icon">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a class="about__icon"><i class="fa-brands fa-twitter"></i></a>
        <a class="about__icon">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a class="about__icon">
          <i class="fa-brands fa-github-alt"></i>
        </a>
      </div>
    </div>
  </div>
</section>
