<section class="experinece">
  <div class="container">
    <div class="section-title-glitch">
      <h2 class="section-title-glitch__title">Experience</h2>
      <div class="section-title-glitch__text">₮ⱧłɆ₲ł₦₦ł₦₲</div>
    </div>

    <div class="row">
      <!-- Nav tabs -->
      <ul class="col-12 col-md-2" role="tablist">
        <li role="presentation">
          <button
            class="nav-link active"
            id="home-tab"
            data-bs-toggle="tab"
            data-bs-target="#home"
            type="button"
            role="tab"
            aria-controls="home"
            aria-selected="true"
          >
            Apple
          </button>
        </li>
        <li role="presentation">
          <button
            class="nav-link"
            id="profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#profile"
            type="button"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
          >
            Google
          </button>
        </li>
        <li role="presentation">
          <button
            class="nav-link"
            id="messages-tab"
            data-bs-toggle="tab"
            data-bs-target="#messages"
            type="button"
            role="tab"
            aria-controls="messages"
            aria-selected="false"
          >
            Amazon
          </button>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content col-12 col-md-10">
        <div
          class="tab-pane active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
          quod labore itaque sequi est cupiditate, error doloribus cum nobis?
          Hic magnam rem minus dolorum laboriosam cum nostrum dolor perspiciatis
          repellat.
        </div>
        <div
          class="tab-pane"
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          ...
        </div>
        <div
          class="tab-pane"
          id="messages"
          role="tabpanel"
          aria-labelledby="messages-tab"
        >
          ...
        </div>
      </div>
    </div>
  </div>
</section>
