<section class="hero" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 hero__left left-hero">
        <div class="left-hero__background-letter" data-glitch="X">J</div>

        <h1 class="left-hero__title">Javier Black</h1>
        <p class="left-hero__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio
          illum aut reiciendis distinctio illum aut reiciendis quod earum, unde
          hic impedit exercitationem.
        </p>

        <div class="left-hero__icons-list">
          <div class="left-hero__icon-container">
            <div class="left-hero__icon-circular-text circular-text">
              designer designer designer designer designer
            </div>
            <img
              class="left-hero__icon left-hero__icon_small"
              src="@img/svg/design.svg"
              alt="design"
            />
          </div>
          <div class="left-hero__icon-container">
            <div class="left-hero__icon-circular-text circular-text">
              developer developer developer developer de
            </div>
            <img
              class="left-hero__icon"
              src="@img/svg/code.svg"
              alt="developer"
            />
          </div>
          <div class="left-hero__icon-container">
            <div class="left-hero__icon-circular-text circular-text">
              seo expert seo expert seo expert seo expert
            </div>
            <img class="left-hero__icon" src="@img/svg/seo.svg" alt="seo" />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 hero__right right-hero">
        <div class="right-hero__text">編碼的力量</div>
        <img
          class="right-hero__person"
          src="@img/photos/man-2.png"
          alt="person"
        />
        <img
          class="right-hero__triangle"
          src="@img/svg/triangle.svg"
          alt="triangle"
        />
        <img class="right-hero__wings" src="@img/svg/wings-1.svg" alt="wings" />
      </div>
    </div>
  </div>
</section>
