<section class="container my-5">
  <div class="skill-title section-title-glitch">
    <h2 class="section-title-glitch__title">Services</h2>
    <div class="section-title-glitch__text">₮ⱧłɆ₲ł₦₦ł₦₲</div>
  </div>
  <div class="row g-3">
    <div class="col-12 col-lg-4">
      <div class="service">
        <i class="service__icon fa-brands fa-react"></i>
        <div class="service__title">Graphic Design</div>
        <p class="service__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi
          incidunt nulla delectus ullam quam doloremque ut consequuntur
          reiciendis debitis, ex harum ducimus earum officia esse. Soluta sed
          aspernatur accusamus ab.
        </p>
        <a href="#" class="service__link">Learn more =></a>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="service">
        <i class="service__icon fa-brands fa-react"></i>
        <div class="service__title">Graphic Design</div>
        <p class="service__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi
          incidunt nulla delectus ullam quam doloremque ut consequuntur
          reiciendis debitis, ex harum ducimus earum officia esse. Soluta sed
          aspernatur accusamus ab.
        </p>
        <a href="#" class="service__link">Learn more =></a>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="service">
        <i class="service__icon fa-brands fa-react"></i>
        <div class="service__title">Graphic Design</div>
        <p class="service__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi
          incidunt nulla delectus ullam quam doloremque ut consequuntur
          reiciendis debitis, ex harum ducimus earum officia esse. Soluta sed
          aspernatur accusamus ab.
        </p>
        <a href="#" class="service__link">Learn more =></a>
      </div>
    </div>
  </div>
</section>
