<section class="testimonial" id="testimonial">
  <!-- Section Title -->
  <div class="container">
    <div class="section-title-glitch">
      <h2 class="section-title-glitch__title glitch-1">Testimonial</h2>
      <div class="section-title-glitch__text">신은77길이다</div>
    </div>
    <!-- Swiper -->
    <div class="swiper" id="testimonialSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            class="swiper-slide__img"
            src="@img/photos/man-profile.jpg"
            alt="man"
          />
          <div class="swiper-slide__text">
            What is lorem ipsum? why is the text in spanish? i need this to work
            in internet explorer! so i was wondering if my cat could be placed
            over the logo in the flyer i think this should be fairly easy so if
            you just want to have a look that's going to be a chunk of change.
          </div>
        </div>
        <div class="swiper-slide">
          <img
            class="swiper-slide__img"
            src="@img/photos/girl-profile.jpg"
            alt="man"
          />
          <div class="swiper-slide__text">
            I really like the colour but can you change it make it look like
            Apple. Can the black be darker what you've given us is texty, we
            want sexy can we barter services so can you make pink a little more
            pinkish.
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
    <!-- End of Swiper -->
  </div>
</section>
