/* Description: Master CSS file */

/* ****************************************
Table Of Contents:
- General Styles
- Navigation
- Header
- Testimonials
- Features
- Video
- Video Modal
- Details 1
- Details Modal
- Details 2
- Statistics
- Screenshots
- Download
- Footer
- Copyright
- Back To Top Button
- Extra Pages
- Media Queries
****************************************** */
/* ************************ */
/*         Function         */
/* ************************ */
@use 'sass:math';

//REM
@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}

/* ************************ */
/*        Variables         */
/* ************************ */

// colors
$text-color: #fff;
$text-gray: #55565d;
$main-bg-color: #2b2c35;
$main-bg-color-light: #363742;
$main-blue-color: #01ffff;
$main-pink-color: #ff00fe;

// breakpoints
$sm-576px: 576px;
$md-768px: 768px;
$lg-992px: 992px;
$xl-1200px: 1200px;
$xxl-1400px: 1400px;

/* ************************ */
/*      General Styles      */
/* ************************ */

// fonts
@font-face {
  font-family: Invasible;
  src: url('../fonts/invasible-invasible-regular-400.ttf') format('opentype');
}

// tags
html {
  /* Offset scroll anchor for fixed navbar */
  scroll-padding-top: 56px;
}
body {
  background-color: $main-bg-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: $text-color;
}
main {
  flex: 1 1 auto;
}

a {
  color: $main-blue-color;
  text-decoration: none;
}

a:hover {
  color: $main-blue-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Invasible';
  line-height: normal;
  margin-bottom: 0;
  margin-top: rem(5);
}

/* **************************** */
/*          Navigation          */
/* **************************** */
@import 'components/navigation-main';

/* **************************** */
/*             Hero             */
/* **************************** */
@import 'components/hero';

/* **************************** */
/*              About           */
/* **************************** */
@import 'components/about';

/* **************************** */
/*              Skills           */
/* **************************** */
@import 'components/skills';

/* **************************** */
/*      Back To Top Button      */
/* **************************** */
@import 'components/back-to-top-button';

/* ******************** */
/*     Testimonial      */
/* ******************** */
@import 'components/testimonial';

/* ******************** */
/*    Custom Cursor     */
/* ******************** */
@import 'components/custom-cursor';

/* ******************** */
/*        Scrollbar     */
/* ******************** */
@import 'components/scrollbar';

/* ******************** */
/*        Glitch        */
/* ******************** */

.glitch-1 {
  position: relative;
  &:before,
  &:after {
    content: attr(data-glitch);
    position: absolute;
  }
  &:after {
    color: #01ffff;
    z-index: -1;
    left: 2px;
  }
  &:before {
    color: #ff00fe;
    z-index: -2;
    left: -2px;
  }
}
.glitch-2 {
  position: relative;
  &:before,
  &:after {
    content: attr(data-glitch);
    position: absolute;
  }
  &:after {
    color: #01ffff;
    z-index: -1;
    left: 3px;
  }
  &:before {
    color: #ff00fe;
    z-index: -2;
    left: -3px;
  }
}

.section-title-glitch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__title {
    font-size: rem(40);
  }
  &__text {
    z-index: -1;
    position: absolute;
    font-size: rem(50);
    color: $text-gray;
  }
}
